<div class="container">
  <h1>My Profile</h1>

  <div class="section">
    <h2>Personal Details</h2>
    <form action="/profile" method="post" class="profile-form">
      <label for="first-name">First name</label>
      <input type="text" id="first-name" name="firstName" value="{{user.firstName}}" required>
      <br>
      <label for="last-name">Last name</label>
      <input type="text" id="last-name" name="lastName" value="{{user.lastName}}" required>
      <br>
      <label for="citizenship">Citizenship</label>
      <select id="citizenship" name="citizenship">
        <option value="select" disabled selected>Select</option>
        <option value="singaporean-citizen">Singaporean Citizen</option>
        <option value="permanent-resident">Permanent Resident</option>
        <option value="other-pass">Other Pass</option>
      </select>

    </form>
  </div>
  <br>
  <div class="section">
    <h2>Renting Preferences</h2>
    <form action="/profile" method="post" class="profile-form">
      <label for="move-in-date">Move in date</label>
      <input type="text" id="move-in-date" name="moveInDate" placeholder="dd mm yy" required>
      <br>
      <label for="lease-term">Lease term</label>
      <select id="lease-term" name="leaseTerm">
        <option value="select" disabled selected>Select</option>
        <!-- Add options here -->
      </select>
      <br>
      <label for="occupants">Number of occupants</label>
      <div id="occupants">
        <input type="number" name="adults" min="0" value="{{user.adults}}"> adults
        <input type="number" name="children" min="0" value="{{user.children}}"> children
      </div>
    </form>
  </div>
  <br>
  <div class="section">
    <h2>Contact Details</h2>
    <form action="/profile/contact" method="post" class="contact-form">
      <label for="mobile-number">Mobile Number</label>
      <div id="mobile-number">
        <span>+65</span>
        <input type="text" name="mobile" placeholder="e.g. 91234567" value="{{user.mobile}}" required>
      </div>
      <p>Verified numbers can help with a faster response from agents.</p>
      <br>
      <label for="email-address">Email address</label>
      <input type="email" id="email-address" name="email" value="{{user.email}}" required>
      <br>
      <button type="submit">Save Changes</button>
    </form>
  </div>
  <br>
  <div class="section">
    <h2>Delete Account</h2>
    <p>Before proceeding, please take note of the following:</p>
    <ul>
      <li>All your saved data, including Shortlists, Enquiries, Saved Searches, and Hidden Listings, will be permanently lost across all your devices.</li>
      <li>You cannot create a new account with the same email id.</li>
    </ul>
    <button type="button" class="delete-account-button">Delete Account</button>
  </div>
</div>
