
<head>
    <title>Admin Agents View</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/adminAgentView.css">
    <script src="/js/adminAgentView.js"></script>
</head>
<body>
    <div class="tabbed-groups">
        <h1 class="text-center">Agents</h1>
        <div class="search">
            <span class="search-icon material-symbols-outlined">search</span>
            <input class="search-input" type="search" placeholder="Search Agent">
            <button class="filter-icon"><span class="material-symbols-outlined">tune</span></button>
        </div>
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'unapproved')">Unapproved Agents</button>
            <button class="tablinks" onclick="openTab(event, 'approved')">Approved Agents</button>
        </div>

        <div id="unapproved" class="tabcontent">
            <!-- Content for Unapproved Agents tab -->
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each agents}}
                    <tr id="agentRow{{this.agent_id}}">
                        <td>{{this.agent_firstName}} {{this.agent_lastName}}</td>
                        <td>{{this.agent_email}}</td>
                        <td>
                            <form class="approve-form" action="/approveAgent/{{this.agent_id}}" method="POST" data-agent-id="{{this.agent_id}}">
                                <button type="submit" class="approve-button">Approve</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div id="approved" class="tabcontent">
            <!-- Content for Approved Agents tab -->
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each approvedAgents}}
                    <tr id="approvedAgentRow{{this.agent_id}}">
                        <td>{{this.agent_firstName}} {{this.agent_lastName}}</td>
                        <td>{{this.agent_email}}</td>
                        <td>
                            <form class="unapprove-form" action="/unapproveAgent/{{this.agent_id}}" method="POST" data-agent-id="{{this.agent_id}}">
                                <button type="submit" class="unapprove-button">Unapprove</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

   
</body>

