<head>
    <title>Browse Houses</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/buyhouse.css">
    <script src="js/buyHouse.js" defer></script>
    <script>
        // Embed workshops data into a JavaScript variable
        const properties = {{{json properties}}};
    </script>
</head> 
 
 
 
 <div class="container">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <form>
                        <div class="search">
                            <span class="search-icon material-symbols-outlined">search</span>
                            <input class="search-input" type="search" placeholder="Search Location">
                            <button class="filter-icon" ><span class="material-symbols-outlined">tune</span>  </button>
                        </div> 
                    </form>
                    {{#if properties.length}}
                    <div class="properties-container">
                        {{#each properties}}
                            <div class="buyitem">
                                <a href="/propertyDescription/{{this.Property_ID}}">
                                    <div class="houseimg">
                                        <img src="images/{{this.Property_Image}}" alt="images/{{this.Property_Image}}" class="buyitemimage">
                                    </div>
                                    <div class="housedesc">
                                        <h2 class="desctext">{{this.Property_Name}}</h2>
                                        <p class="desctext">{{this.Property_Address}}</p>
                                        <p class="desctext">S$ {{this.Property_Price}}</p>
                                        <div>
                                            {{this.Property_Bedrooms}} Bedroom - {{this.Property_Bathrooms}} Bathroom - {{this.Square_Footage}} sqft - S$650 psf
                                        </div>
                                        <div>
                                            {{this.Property_Type}} - Built: {{this.Property_YearBuilt}}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {{/each}}
                    </div>
                    {{else}}
                    <div>
                        Currently No Available Properties
                    </div>
                    {{/if}}
                    
                    
                </div>
                <div class="col-sm">
                </div>
              </div>
        </div>

        <!-- this is the popup for filter -->
        <div class="modal" id="filterModal">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <form>
                    <h2>Filter</h2>
                    <div class="input-group">
                        <label for="property-type">Property Type:</label>
                        <ul id="property-type" class="property-type clearfix">
                            <li>
                                <input type="radio" id="hdb" name="property-type" value="HDB" />
                                <label for="hdb">HDB</label>
                            </li>
                            <li>
                                <input type="radio" id="condo" name="property-type" value="Condo" />
                                <label for="condo">Condo</label>
                            </li>
                            <li>
                                <input type="radio" id="landed" name="property-type" value="Landed" />
                                <label for="landed">Landed</label>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <label for="min" class="col-form-label">Price Range:</label>
                                <br>
                                <br>
                                <br>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="text" id="min" name="Minimum" placeholder="Min" class="form-control">
                                </div>
                            </div>
                            <div class="col-auto">
                                <label for="max" class="col-form-label">to</label>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="text" id="max" name="Maximum" placeholder="Max" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <label for="bedroom">Bedroom:</label>
                        <ul id="bedroom" class="property-type clearfix">
                            <li>
                                <input type="radio" id="studio" name="bedroom" value="Studio" />
                                <label for="studio">Studio</label>
                            </li>
                            <li>
                                <input type="radio" id="1bedroom" name="bedroom" value="1Bedroom" />
                                <label for="1bedroom">1</label>
                            </li>
                            <li>
                                <input type="radio" id="2bedroom" name="bedroom" value="2Bedroom" />
                                <label for="2bedroom">2</label>
                            </li>
                            <li>
                                <input type="radio" id="3bedroom" name="bedroom" value="3Bedroom" />
                                <label for="3bedroom">3</label>
                            </li>
                            <li>
                                <input type="radio" id="4bedroom" name="bedroom" value="4Bedroom" />
                                <label for="4bedroom">4</label>
                            </li>
                            <li>
                                <input type="radio" id="5bedroom" name="bedroom" value="5Bedroom" />
                                <label for="5bedroom">5</label>
                            </li>
                        </ul>
                    </div>
                    <div class="input-group form-group formbutton">
                        <button type="submit">Apply Filters</button>
                    </div>
                </form>
            </div>
        </div>
    </div>