<head>
    <link rel="stylesheet" href="../css/propertyDescription.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../js/propertyDescription"></script>
    <script>
        // Embed workshops data into a JavaScript variable
        const properties = {{{json properties}}};
    </script>
</head>
    <div class="title">
        <h1>{{propertyDetail.Property_Name}} - {{propertyDetail.Property_Address}}</h1>
    </div>
<section class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <img src="../images/hdb1.jpg" id="slide-1">
            <img src="../images/hdbinterior1.jpg" id="slide-2">
            <img src="../images/hdbinterior_bedroom.png" id="slide-3">
        </div>
        <div class="slider-nav">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
        </div>
    </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-sm text text-right">
      <h3>PRICE</h3>
      <div>S$ {{propertyDetail.Property_Price}}</div>
    </div>
    <div class="col-sm text text-right">
      <h3>SQFT</h3>
      <div>{{propertyDetail.Square_Footage}} sqft</div>
    </div>
    <div class="col-sm text text-right">
      <h3>PSF</h3>
      <div>$S {{pricePerSquareFoot}}</div>
    </div>
    <div class="col-sm text text-right">
      <h3>BED</h3>
      <div>{{propertyDetail.Property_Bedrooms}} Bedrooms</div>
    </div>
    <div class="col-sm text text-right">
      <h3>BATH</h3>
      <div>{{propertyDetail.Property_Bathrooms}} Bathroom</div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>About This Property</h1>
      <div class="agenttext">
        {{propertyDetail.Property_Description}}
      </div>
    </div>
    <div class="col col-lg-2">
      <table class="agentbox">
        <tr>
            <td colspan="4" class="propagentlogo"><img src="../images/propnex.png" width="50" height="50"> PropNex Realty PTE. LTD.</td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td colspan="2"><img class="profilepicture" src="../images/{{agentDetail.agent_image}}"></td>
            <td colspan="2"><h3 class="text">{{agentDetail.agent_firstName}} {{agentDetail.agent_lastName}}<a class="hover_settings" href="/propertyAgentProfile/{{agentDetail.agent_id}}"><div class="aboutme_button">About Me</div></a></h3></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4">
                    <div class="text">
                        (3) Reviews 
                        <div class="stars">5
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="contactrow">
            <td colspan="4"><div class="contactbuttons"><a href="#" class="contactbuttonclick"><h3><img src="../images/email_logo.png" height="30" width="50">Email: {{agentDetail.agent_email}}</h3></a></div></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="contactrow">
            <td colspan="4"><div class="contactbuttons"><a href="#" class="contactbuttonclick"><h3><img src="../images/phone_logo.png" height="40" width="40">HP: +65 {{agentDetail.agent_phoneNumber}} </h3></a></div></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
        <h1>Residence Details</h1>
        <table class="details_table table-bordered">
            <tr>
                <th>Year Built</th>
                <td colspan="3">{{propertyDetail.Property_YearBuilt}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td colspan="3">{{propertyDetail.Property_Address}}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td colspan="3">$S {{propertyDetail.Property_Price}}</td>
            </tr>
            <tr>
                <th>PSF</th>
                <td colspan="3">$S {{pricePerSquareFoot}}</td>
            </tr>
            <tr>
                <th>Bedrooms</th>
                <td colspan="3">{{propertyDetail.Property_Bedrooms}}</td>
            </tr>
            <tr>
                <th>Bathrooms</th>
                <td colspan="3">{{propertyDetail.Property_Bathrooms}}</td>
            </tr>
            <tr>
                <th>Floor</th>
                <td colspan="3">{{propertyDetail.Property_Floor}} Storey</td>
            </tr>
            <tr>
                <th>Property Type</th>
                <td colspan="3">{{propertyDetail.Property_Type}}</td>
            </tr>
            <tr>
                <th>TOP</th>
                <td colspan="3">{{propertyDetail.Property_TOP}}</td>
            </tr>
            <tr>
                <th>Tenure</th>
                <td colspan="3">{{propertyDetail.Property_Tenure}}</td>
            </tr>
        </table>
        </div>
    </div>
</div>
<div class="col col-lg-2"></div>

<div class="container">
  <div class="row">
    <div class="col">
        <h1>Location</h1>
        <div class="mapfilter">
            <div class="input-group">
                        <label for="property-type">Filter:</label>
                        <ul id="property-type" class="property-type clearfix">
                            <li>
                                <input type="radio" id="schools" name="property-type" value="Schools" />
                                <label for="schools">Schools</label>
                            </li>
                            <li>
                                <input type="radio" id="Medical" name="property-type" value="Medical" />
                                <label for="Medical">Medical</label>
                            </li>
                            <li>
                                <input type="radio" id="MRT" name="property-type" value="MRT" />
                                <label for="MRT">MRT</label>
                            </li>
                        </ul>
                    </div>
        </div>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31909.289506841924!2d103.83483370259457!3d1.3799489382254528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da16eb64b0249d%3A0xe5f10ff680eed942!2sNanyang%20Polytechnic!5e0!3m2!1sen!2ssg!4v1716742877016!5m2!1sen!2ssg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
        <h1>Like this property?</h1>
        <div>Arrange a date to meet with the agent now!</div>
        <a class="hover_settings" href="/schedule"><div class="schedule_button">Schedule</div></a>
        </div>
    </div>
</div>
<div class="col col-lg-2"></div>
