<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/adminFeedback.css">
    <script src="handlebarFunctions.js" defer></script>
    <script src="/js/adminFeedback.js" defer></script>
    <title>Feedback Management</title>
</head>

<body>
    <div class="container mt-4 pt-5">
        <div class="col text-center">
            <h2>View Feedback</h2>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button class="nav-link active" onclick="openFeedback(event, 'allFeedback')">All Feedback</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" onclick="openFeedback(event, 'Issues')">Issues</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" onclick="openFeedback(event, 'Suggestions')">Suggestions</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" onclick="openFeedback(event, 'Other')">Others</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" onclick="openFeedback(event, 'Saved Feedback')">Saved Feedback</button>
            </li>
        </ul>
    </div>

    <div id="allFeedback" class="tabcontent container mt-4">
        <div class="wrapper">
            <div class="displayFeedback">
                {{#if feedback}}
                <h3>Feedback</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Feedback ID</th>
                            <th class="text-center">Feedback Type</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Rating</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Agent involved</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each feedback}}
                        <tr>
                            <td>{{this.feedback_id}}</td>
                            <td>{{this.feedback_type}}</td>
                            <td>{{this.feedback_name}}</td>
                            <td>{{this.feedback_email}}</td>
                            <td>{{concat this.feedback_rating "/5"}}</td>
                            <td>{{formatDate feedback_date 'DD MMM YYYY'}}</td>
                            <td class="text-center">{{this.agentAgentId}}</td>
                            <td>{{this.feedback_description}}</td>
                            <td>{{this.feedback_status}}</td>
                            <td>
                                {{#ifEquals this.feedback_status "Normal"}}
                                    <div class="btn-group-vertical" role="group" aria-label="Action Buttons">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal" data-feedback='{{json this}}'>View</button>
                                    <form action="/feedback/saveFeedback/{{this.feedback_id}}?_method=PUT" method="post" class="d-inline">
                                        <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </form>
                                </div>
                                {{else}}
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal" data-feedback='{{json this}}'>View</button>
                                        <form action="/feedback/unsaveFeedback/{{this.feedback_id}}?_method=PUT" method="post" class="d-inline">
                                        <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="btn btn-success">Unsave</button>
                                    </form>
                                {{/ifEquals}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p>No feedback received</p>
                {{/if}}
            </div>
        </div>
    </div>

    <div id="Issues" class="tabcontent container mt-4">
        <div class="wrapper">
            <div class="displayFeedback" id="displayIssues">
                {{#if feedback}}
                <h3>Issues</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                       <th class="text-center">Feedback ID</th>
                            <th class="text-center">Feedback Type</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Rating</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Agent involved</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each feedback}}
                        {{#ifEquals this.feedback_type "Report an issue"}}
                        <tr>
                            <td>{{this.feedback_id}}</td>
                            <td>{{this.feedback_type}}</td>
                            <td>{{this.feedback_name}}</td>
                            <td>{{this.feedback_email}}</td>
                            <td>{{concat this.feedback_rating "/5"}}</td>
                            <td>{{formatDate feedback_date 'DD MMM YYYY'}}</td>
                            <td class="text-center">{{this.agentAgentId}}</td>
                            <td>{{this.feedback_description}}</td>
                            <td>{{this.feedback_status}}</td>
                            <td>
                                {{#ifEquals this.feedback_status "Normal"}}
                                    <div class="btn-group-vertical" role="group" aria-label="Action Buttons">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal" data-feedback='{{json this}}'>View</button>
                                    <form action="/feedback/saveFeedback/{{this.feedback_id}}?_method=PUT" method="post" class="d-inline">
                                        <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </form>
                                </div>
                                {{else}}
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal" data-feedback='{{json this}}'>View</button>
                                        <form action="/feedback/unsaveFeedback/{{this.feedback_id}}?_method=PUT" method="post" class="d-inline">
                                        <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="btn btn-success">Unsave</button>
                                    </form>
                                {{/ifEquals}}
                            </td>
                        </tr>
                        {{/ifEquals}}
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p>No feedback received</p>
                {{/if}}
            </div>
        </div>
    </div>

    <div id="Suggestions" class="tabcontent container mt-4">
        <div class="wrapper">
            <div class="displayFeedback" id="displayIssues">
                {{#if feedback}}
                <h3>Suggestions</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                       <th class="text-center">Feedback ID</th>
                            <th class="text-center">Feedback Type</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Rating</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Agent involved</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each feedback}}
                        {{#ifEquals this.feedback_type "Send a suggestion"}}
                        <tr>
                            <tr>
                            <td>{{this.feedback_id}}</td>
                            <td>{{this.feedback_type}}</td>
                            <td>{{this.feedback_name}}</td>
                            <td>{{this.feedback_email}}</td>
                            <td>{{concat this.feedback_rating "/5"}}</td>
                            <td>{{formatDate feedback_date 'DD MMM YYYY'}}</td>
                            <td class="text-center">{{this.agentAgentId}}</td>
                            <td>{{this.feedback_description}}</td>
                            <td>{{this.feedback_status}}</td>
                            <td>
                                {{#ifEquals this.feedback_status "Normal"}}
                                    <div class="btn-group-vertical" role="group" aria-label="Action Buttons">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal" data-feedback='{{json this}}'>View</button>
                                    <form action="/feedback/saveFeedback/{{this.feedback_id}}?_method=PUT" method="post" class="d-inline">
                                        <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </form>
                                </div>
                                {{else}}
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal" data-feedback='{{json this}}'>View</button>
                                        <form action="/feedback/unsaveFeedback/{{this.feedback_id}}?_method=PUT" method="post" class="d-inline">
                                        <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="btn btn-success">Unsave</button>
                                    </form>
                                {{/ifEquals}}
                            </td>
                        </tr>
                        {{/ifEquals}}
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p>No feedback received</p>
                {{/if}}
            </div>
        </div>
    </div>

    <div id="Other" class="tabcontent container mt-4">
        <div class="wrapper">
            <div class="displayFeedback" id="displayIssues">
                {{#if feedback}}
                <h3>Suggestions</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                       <th class="text-center">Feedback ID</th>
                            <th class="text-center">Feedback Type</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Rating</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Agent involved</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each feedback}}
                        {{#ifEquals this.feedback_type "Other"}}
                        <tr>
                            <tr>
                            <td>{{this.feedback_id}}</td>
                            <td>{{this.feedback_type}}</td>
                            <td>{{this.feedback_name}}</td>
                            <td>{{this.feedback_email}}</td>
                            <td>{{concat this.feedback_rating "/5"}}</td>
                            <td>{{formatDate feedback_date 'DD MMM YYYY'}}</td>
                            <td class="text-center">{{this.agentAgentId}}</td>
                            <td>{{this.feedback_description}}</td>
                            <td>{{this.feedback_status}}</td>
                                                        <td>
                                {{#ifEquals this.feedback_status "Normal"}}
                                    <div class="btn-group-vertical" role="group" aria-label="Action Buttons">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal" data-feedback='{{json this}}'>View</button>
                                    <form action="/feedback/saveFeedback/{{this.feedback_id}}?_method=PUT" method="post" class="d-inline">
                                        <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </form>
                                </div>
                                {{else}}
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal" data-feedback='{{json this}}'>View</button>
                                        <form action="/feedback/unsaveFeedback/{{this.feedback_id}}?_method=PUT" method="post" class="d-inline">
                                        <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="btn btn-success">Unsave</button>
                                    </form>
                                {{/ifEquals}}
                            </td>
                        </tr>
                        {{/ifEquals}}
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p>No feedback received</p>
                {{/if}}
            </div>
        </div>
    </div>

    <div id="Saved Feedback" class="tabcontent container mt-4">
        <div class="wrapper">
            <div class="displayFeedback" id="displayIssues">
                {{#if feedback}}
                <h3>Suggestions</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                       <th class="text-center">Feedback ID</th>
                            <th class="text-center">Feedback Type</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Rating</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Agent involved</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each feedback}}
                        {{#ifEquals this.feedback_status "Saved"}}
                        <tr>
                            <td>{{this.feedback_id}}</td>
                            <td>{{this.feedback_type}}</td>
                            <td>{{this.feedback_name}}</td>
                            <td>{{this.feedback_email}}</td>
                            <td>{{concat this.feedback_rating "/5"}}</td>
                            <td>{{formatDate feedback_date 'DD MMM YYYY'}}</td>
                            <td class="text-center">{{this.agentAgentId}}</td>
                            <td>{{this.feedback_description}}</td>
                            <td>{{this.feedback_status}}</td>
                                                        <td>
                                {{#ifEquals this.feedback_status "Normal"}}
                                    <div class="btn-group-vertical" role="group" aria-label="Action Buttons">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal" data-feedback='{{json this}}'>View</button>
                                    <form action="/feedback/saveFeedback/{{this.feedback_id}}?_method=PUT" method="post" class="d-inline">
                                        <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </form>
                                </div>
                                {{else}}
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal" data-feedback='{{json this}}'>View</button>
                                        <form action="/feedback/unsaveFeedback/{{this.feedback_id}}?_method=PUT" method="post" class="d-inline">
                                        <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="btn btn-success">Unsave</button>
                                    </form>
                                {{/ifEquals}}
                            </td>
                        </tr>
                        {{/ifEquals}}
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p>No feedback received</p>
                {{/if}}
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="feedbackModalLabel">Feedback Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 id="modalFeedbackType"></h4>
                    <p><strong>Name:</strong> <span id="modalFeedbackName"></span></p>
                    <p><strong>Email:</strong> <span id="modalFeedbackEmail"></span></p>
                    <p><strong>Rating:</strong> <span id="modalFeedbackRating"></span></p>
                    <p><strong>Date:</strong> <span id="modalFeedbackDate"></span></p>
                    <p><strong>Agent involved:</strong> <span id="modalFeedbackAgentInvolved"></span></p>
                    <p><strong>Description:</strong> <span id="modalFeedbackDescription"></span></p>
                    <p><strong>Status:</strong> <span id="modalFeedbackStatus"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $('#feedbackModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var feedback = button.data('feedback') // Extract info from data-* attributes
            var modal = $(this)

            modal.find('.modal-title').text('Feedback Details')
            modal.find('#modalFeedbackType').text(feedback.feedback_type)
            modal.find('#modalFeedbackName').text(feedback.feedback_name)
            modal.find('#modalFeedbackEmail').text(feedback.feedback_email)
            modal.find('#modalFeedbackRating').text(feedback.feedback_rating + "/5")
            modal.find('#modalFeedbackDate').text(feedback.feedback_date)
            modal.find('#modalFeedbackAgentInvolved').text(feedback.agentAgentId)
            modal.find('#modalFeedbackDescription').text(feedback.feedback_description)
            modal.find('#modalFeedbackStatus').text(feedback.feedback_status)
        })
    </script>
</body>

</html>