<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="css/adminFeedback.css">
    <link rel="javascript" href="handlebarFunctions.js">
    <script src="adminFeedback.js"></script>
</head>

<div class="tab">
  <button class="tablinks" onclick="openFeedback(event, 'allFeedback')">All Feedback</button>
  <button class="tablinks" onclick="openFeedback(event, 'Issues')">Issues</button>
  <button class="tablinks" onclick="openFeedback(event, 'Suggestions')">Suggestions</button>
  <button class="tablinks" onclick="openFeedback(event, 'Other')">Others</button>
</div>

<div class="allFeedback" id="allFeedback" class="tabcontent">
    <div class="wrapper">
        <div class="displayFeedback">
            {{#if feedback}}
            <h3>Feedback</h3>
            <table class="feedbackTable">
                <thead>
                    <tr>
                        <th>Feedback ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Rating</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                {{#each feedback}}
                <div class="feedback-item">
                    <tr>
                        <td>{{this.feedback_id}}</td>
                        <td>{{this.feedback_name}}</td>
                        <td>{{this.feedback_email}}</td>
                        <td>{{concat this.feedback_rating "/5"}}</td>
                        <td>{{formatDate feedback_date 'DD MMM YYYY'}}</td>
                        <td>{{this.feedback_description}}</td>
                        <td>{{this.feedback_status}}</td>
                        <td>
                            {{#ifEquals this.feedback_status "Pending"}}
                                <button type="button" class="btn btn-primary" href="/admin/ViewFeedback">View</button>
                                <form action="/feedback/saveFeedback/{{this.feedback_id}}?_method=PUT" method="post" id="saveFeedback">
                                    <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="btn btn-primary">
                                            Save
                                        </button>
                                </form>
                            {{else}}
                                <button type="submit" class="btn btn-primary">View</button>
                            {{/ifEquals}}
                        </td>
                    </tr>
                </div>
                {{/each}}
            </table>
            {{else}}
            <p>No feedback received</p>
            {{/if}}
        </div>
    </div>
</div>
<div id="Issues" class="tabcontent">
    <p> Issues Div</p>
</div>