<head>
    <title>Browse Houses</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../css/AgentUpdateProperty.css">
    <script src="js/buyHouse.js" defer></script>
    <script>
        // Embed workshops data into a JavaScript variable
        const properties = {{{json properties}}};
    </script>
</head>


<div class="container">
            <div class="row">
                <div class="col-sm">
                    {{#if properties.length}}
                    <div class="properties-container">
                        {{#each properties}}
                            <div class="buyitem">
                                <a href="/agentUpdatePropertyForm/{{this.Property_ID}}">
                                    <div class="houseimg">
                                        <img src="images/{{this.Property_Image}}" alt="images/{{this.Property_Image}}" class="buyitemimage">
                                    </div>
                                    <div class="housedesc">
                                        <h2 class="desctext">{{this.Property_Name}} ({{this.Property_ID}})</h2>
                                        <p class="desctext">{{this.Property_Address}}</p>
                                        <p class="desctext">S$ {{this.Property_Price}}</p>
                                        <div>
                                            
                                        </div>
                                        <div>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {{/each}}
                    </div>
                    {{else}}
                    <div>
                        Currently No Available Properties
                    </div>
                    {{/if}}   
                </div>
              </div>
        </div>