<head>
    <link rel="stylesheet" href="css/FindAgent.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
<div class="agents-listing-page">
    <div class="form-header">
        <h1>Find Property Agents</h1>
        <!-- Search Bar -->
        <div class="search-container">
            <input type="text" id="search" placeholder="Search by name..." oninput="searchAgents()">
        </div>
    </div>
    
    <section class="agents-list" id="agents-list">
        {{#each agents}}
        <div class="agent" data-agent-name="{{this.agent_firstName}} {{this.agent_lastName}}">
            <div class="agent-info">
                <h3>{{this.agent_firstName}} {{this.agent_lastName}}</h3>
                <p>Agent License Number: {{this.agent_licenseNo}}</p>
                <a href="/propertyAgentProfile/{{this.agent_id}}"><button class="agentform-buttonsubmit">View Profile</button></a>
            </div>
        </div>
        {{/each}}
    </section>
</div>

<script>
    function searchAgents() {
        const searchInput = document.getElementById('search').value.toLowerCase();
        const agents = document.querySelectorAll('.agent');

        agents.forEach(agent => {
            const name = agent.getAttribute('data-agent-name').toLowerCase();
            if (name.includes(searchInput)) {
                agent.style.display = 'block';
            } else {
                agent.style.display = 'none';
            }
        });
    }
</script>
</body>
