<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/agentProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a href="/"><img src="../images/logo.png" width="100" height="50"></a>
    <div class="header collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div class="dropdown" data-dropdown>
                    <button class="nav-link" data-dropdown-button>Properties &#x25BE;</button>
                    <div class="dropdown-menu information-grid">
                        <div>
                        <!-- <div class="dropdown-heading"></div> -->
                        <div class="dropdown-links">
                            <a href="/buyHouse" class="nav-link">Buying</a>
                            <a href="/sellHouse" class="nav-link">Selling</a>
                        </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown" data-dropdown>
                    <button class="nav-link" data-dropdown-button>Property Agents &#x25BE;</button>
                    <div class="dropdown-menu information-grid">
                    <div>
                        <!-- <div class="dropdown-heading"></div> -->
                        <div class="dropdown-links">
                        <a href="/findAgents" class="nav-link">Find Agents</a>
                        <a href="/schedule" class="nav-link">Schedule</a>
                        <a href="/agentListProperty" class="nav-link">List Property</a>
                        </div>
                    </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown" data-dropdown>
                    <button class="nav-link" data-dropdown-button><a href="/feedback/contactUs" class="link-button">Contact Us</a></button>
                </div>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-dropdown-button><a href="/aboutUs" class="link-button">About Us </a></button>
            </li>
        </ul>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <a href="/login"><button class="login-btn btn btn-light my-2 my-sm-0" data-dropdown-button>Login</button></a>
        <a href="/register"><button class="login-btn btn btn-light my-2 my-sm-0" data-dropdown-button>Sign Up</button></a>
</nav>
    <div class="container" style="margin-bottom:80px;">
        <div class="row">
            <div class="col">
                <img src="/images/agent1.jpg" height="200" width="200" style="border:1px solid;">
            </div>
            <div class="col">
                <h3>{{agent.agent_firstName}} {{agent.agent_lastName}}</h3>
                <div style="margin-bottom:30px;margin-top:30px;">
                    <img src="/images/propnex.png" height="50" width="50" style="border:1px solid;"> {{agent.company}}
                </div>
                <div>
                    Agency License No. {{agent.agent_licenseNo}}
                </div>
                <div>
                    CEA Registration No. {{agent.agent_registrationNo}}
                </div>
            </div>
            <div class="col">
                <a href="mailto:{{agent.agent_email}}"><button id="cta-button">Contact</button></a>
                <br>
                <a href="/agent-reviews/{{agent.id}}"><button id="cta-button">Review</button></a>
            </div>
        </div>
    </div>

    <div class="container" style="margin-bottom:80px;">
        <h1>About Me</h1>
        <div>
            {{agent.experience}} year(s) with {{agent.currentCompany}}
        </div>
        <br>
        <div>
            {{agent.agent_bio}}
        </div>
    </div>

    
    <div class="container" style="margin-bottom:80px;">
        <h1>Active Listings:</h1>
        <div class="buyitem">
            <a href="/propertyDescription">
                <div class="houseimg">
                    <img src="/images/hdb1.jpg" class="buyitemimage">
                </div>
                <div class="housedesc">
                    <h2 class="desctext">212B Punggol Walk</h2>
                    <p class="desctext">212B Punggol Walk -  822212, Hougang / Punggol</p>
                    <p class="desctext">S$ 650,000</p>
                    <div>3 Bedroom - 2 Bathroom - 1000 sqft - S$650 psf</div>
                    <div>HDB - Built: 2014 - Resale</div>
                </div>
            </a>
        </div>
    </div>

    <div class="container">
        <h1>Ratings:</h1>
        <div>(3) Reviews 
            <div class="stars">5
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="reviewbox">
                <div>
                    <div><img src="/images/pfp.png" height="40" width="40"> Chee Cheong Fan</div>
                    <div class="stars reviewcontent">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="reviewcontent">
                        Working with Marcus was an absolute pleasure! His deep knowledge of the Singapore property market and keen attention to our needs made the entire process smooth and stress-free. Marcus was always available to answer our questions, provided insightful advice, and guided us with professionalism and care. Thanks to his expertise, we found our dream home quickly and at a great price. Highly recommend Marcus to anyone looking for a top-notch real estate agent!
                    </div>
                </div>
            </div>
        </div>
        <div class="reviewbox">
            <div>
                <div><img src="/images/pfp.png" height="40" width="40"> Chee Cheong Fan's Sister</div>
                <div class="stars reviewcontent">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="reviewcontent">
                    Working with Marcus was an absolute pleasure! His deep knowledge of the Singapore property market and keen attention to our needs made the entire process smooth and stress-free. Marcus was always available to answer our questions, provided insightful advice, and guided us with professionalism and care. Thanks to his expertise, we found our dream home quickly and at a great price. Highly recommend Marcus to anyone looking for a top-notch real estate agent!
                </div>
            </div>
        </div>
        <div class="reviewbox">
            <div>
                <div><img src="/images/pfp.png" height="40" width="40"> Chee Cheong Fan's Mother</div>
                <div class="stars reviewcontent">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="reviewcontent">
                    Working with Marcus was an absolute pleasure! His deep knowledge of the Singapore property market and keen attention to our needs made the entire process smooth and stress-free. Marcus was always available to answer our questions, provided insightful advice, and guided us with professionalism and care. Thanks to his expertise, we found our dream home quickly and at a great price. Highly recommend Marcus to anyone looking for a top-notch real estate agent!
                </div>
            </div>
        </div>
        <a href="#"><button id="cta-button" style="background-color:white;text-align:center;margin-top:20px;">Review</button></a>
    </div>
</body>
</html>
